# Python
__pycache__/
*.py[cod]
*$py.class

# 虚拟环境
venv/
env/
.venv/

# 数据文件（后续真实股票数据较大，且含隐私 token，不上传）
data/*.csv
data/*.xlsx

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db